In [13]:
s1 = int(input('Enter the marks of Java : '))
s2 = int(input('Enter the marks of Python : '))
s3 = int(input('Enter the marks of DBMS : '))
s4 = int(input('Enter the marks of CS : '))
s5 = int(input('Enter the marks of PE : '))

total = s1+s2+s3+s4+s5
result = float(total/5)

grade="Fail"
if result<100 and result>=90:
    grade = "A+"
elif result<90 and result>=80:
    grade = "A"
elif result<80 and result>=70:
    grade = "B"
elif result<70 and result>=60:
    grade = "C"
elif result<60 and result>=50:
    grade = "D"
    
print("Grade : "+grade)

Enter the marks of Java : 78
Enter the marks of Python : 89
Enter the marks of DBMS : 78
Enter the marks of CS : 89
Enter the marks of PE : 78
Grade : A

In [18]:
num = int(input('Enter the number : '))
if num%2==0:
    print(str(num)+" is even")
else:
    print(str(num)+" is odd")

Enter the number : 37
37 is odd

In [23]:
list1 = (2,3,6,8,4,2,69,0,56,3,5,7,8)
print(len(list1))

13

In [24]:
print(sum(list1))

173

In [25]:
print(max(list1))

69

In [26]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3